<title>Japan Text To Speech Api</title>
<p>Males Buat Frontend , Langsung Aja Cara Penggunaan Paramnya</p>
<a href="https://jp-ghost-tts.herokuapp.com/tts/1/angry">Angry V1</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/1/happy">Happy V1</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/1/bashful">Bashful</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/1/sad">Sad V1</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/1/normal">Normal V1</a>
<hr>
<a href="https://jp-ghost-tts.herokuapp.com/tts/2/angry">Angry V2</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/2/happy">Happy V2</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/2/sad">Sad V2</a>
<a href="https://jp-ghost-tts.herokuapp.com/tts/2/normal">Normal V2</a>